@page "/claims/create"
@using ExpenseClaimSystem.Application.DTOs
@using ExpenseClaimSystem.Application.Services
@using ExpenseClaimSystem.Domain.Enums
@inject IExpenseClaimService ClaimService
@inject HttpClient Http

<h3>Create Expense Claim</h3>

<EditForm Model="model" OnValidSubmit="HandleSubmit" FormName="CreateExpenseClaimForm">
	<DataAnnotationsValidator />

	<div>
		<label>Department</label>
		<InputText @bind-Value="model.Department" />
	</div>


	<div>
		<h5>Expense Detils</h5>
		<hr />
		@* Dropdown - Currency*@
		<select class="form-select">
			<option value="">Select Currency</option>
			@foreach (var currency in Currencies)
			{
				<option value="@currency.Id">@currency.Name</option>
			}
		</select>

		@* Dropdown - Expense Category*@
		<select class="form-select">
			<option value="">Select Expense Category</option>
			@foreach (var category in ExpCategories)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</select>

		<label>Description</label>
		<InputText @bind-Value="model.Description" />

		<label>Amount</label>
		<InputNumber @bind-Value="model.Amount" />

		<button type="button" @onclick="AddItem">Add Item</button>


		@foreach (var item in model.Items)
		{
			<div class="expense-row">
				<select class="form-select" @bind="item.Category">
					<option value="">Select Category</option>
					@foreach (var category in ExpCategories)
					{
						<option value="@category.Name">@category.Name</option>
					}
				</select>

				<InputText placeholder="Description" @bind-Value="item.Description" />
				<InputNumber @bind-Value="item.Amount" />
				<InputCheckbox @bind-Value="item.IsGstApplicable" />

				<button type="button" @onclick="() => RemoveItem(item)">
					Remove
				</button>
			</div>
		}
		<hr />

	</div>

	<div>
		<h5>Attchements</h5>
		<hr />
		@* Dropdown - Attachement Types*@
		<select class="form-select">
			<option value="">Select Attachement Type</option>
			@foreach (var attachement in AttachementTypes)
			{
				<option value="@attachement.Id">@attachement.Name</option>
			}
		</select>
	</div>
	<InputFile OnChange="HandleFileUpload" />

	<div>

		<h5>Payment Method Details</h5>
		<hr />
		<InputRadioGroup @bind-Value="model.PaymentMethod">
			<InputRadio Value="PaymentMethod.Cash" /> Cash
			<InputRadio Value="PaymentMethod.Card" /> Card
		</InputRadioGroup>
	</div>

	@if (model.PaymentMethod == PaymentMethod.Card)
	{
		<div>
			<InputText placeholder="Bank Code" @bind-Value="model.BankNameCode" />
			<InputText placeholder="Account Name" @bind-Value="model.AccountName" />
			<InputText placeholder="Account Number" @bind-Value="model.AccountNumber" />
		</div>
	}

	<button type="submit">Submit</button>
</EditForm>

@code {

	private List<IBrowserFile> uploadedFiles = new();

	private async Task HandleFileUpload(InputFileChangeEventArgs e)
	{
		foreach (var file in e.GetMultipleFiles())
		{
			var content = new MultipartFormDataContent();
			var fileContent = new StreamContent(file.OpenReadStream(10_000_000));
			content.Add(fileContent, "file", file.Name);

			var response = await Http.PostAsync("api/attachments", content);

			if (response.IsSuccessStatusCode)
			{
				var result = await response.Content.ReadFromJsonAsync<UploadResult>();

				// store result.filePath in your model
			}
		}
	}

	public class UploadResult
	{
		public string FileName { get; set; }
		public string FilePath { get; set; }
	}

	CreateExpenseClaimDto model = new();

	void AddItem()
	{
		model.Items.Add(new ExpenseItemDto());
	}

	void RemoveItem(ExpenseItemDto item)
	{
		model.Items.Remove(item);
	}

	async Task HandleSubmit()
	{
		// await Http.PostAsJsonAsync("api/ExpenseClaims", model);

		await ClaimService.CreateAsync(model, "user");

		// Optional: navigate to list page
		// NavigationManager.NavigateTo("/claims");
	}

	private List<Crurency> Currencies = new List<Crurency>
	{
		new Crurency { Id = "LKR", Name = "LKR" },
		new Crurency { Id = "USD", Name = "USD" },
		new Crurency { Id = "MVR", Name = "MVR" }
	};

	public class Crurency
	{
		public string Id { get; set; }
		public string Name { get; set; }
	}

	private List<ExpCategory> ExpCategories = new List<ExpCategory>
	{
		new ExpCategory { Id = "1", Name = "Trnsport" },
		new ExpCategory { Id = "2", Name = "Meals" },
		new ExpCategory { Id = "3", Name = "Utility" }
	};

	public class ExpCategory
	{
		public string Id { get; set; }
		public string Name { get; set; }
	}

	private List<AttachementType> AttachementTypes = new List<AttachementType>
	{
		new AttachementType { Id = "1", Name = "Trnsport Bill" },
		new AttachementType { Id = "2", Name = "Meals Bill" },
		new AttachementType { Id = "3", Name = "Utility Bill" }
	};

	public class AttachementType
	{
		public string Id { get; set; }
		public string Name { get; set; }
	}
}
